{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/tabs.css' %}">
{% endblock %}

{% block field_sets %}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs tabs">
                {% include "admin/includes/nav_pills.html" %}
            </ul>
            <div class="tab-content">
                {% for fieldset in adminform %}
                    {% include "admin/includes/custom_fieldset.html" with inline_admin_formsets=inline_admin_formsets %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% if not inline_admin_formset.opts.insert_after %}
            {% include inline_admin_formset.opts.template %}
        {% endif %}
    {% endfor %}
{% endblock %}