{% extends "admin/base.html" %}
{% load static tabular %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <p class="lead">Products / Vento-01-AL</p>
                <h3>Vento Single Seater</h3>
                <div class="d-flex">
                    <p class="text-dark mr-4">
                        Overall Completness : <span class="text-success">> 50%</span>
                    </p>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input
                            type="checkbox"
                            class="custom-control-input"
                            id="customSwitch1"
                            />
                        
                            <label class="custom-control-label" for="customSwitch1">Draft</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6"></div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <section id="content" class="content">
                <div class="row">
                    <div id="content-main" class="col-12">
                        <form method="post">
                            {% tabbular_form form %}
                            <input type="submit" value="Simpan">
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
</div>
