{% extends "adminlte/base.html" %}
{% load static %}
{% block body %}

{% block content %}

<h1>Ambience Images</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for ambienceimage in ambienceimages %}
    <tr>
      <td>{{ ambienceimage.product.name }}</td>
      <td><img src="{{ ambienceimage.image.url }}" width="100"></td>
      <td>
        <a href="{% url 'product:ambienceimage_edit' ambienceimage.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'product:ambienceimage_delete' ambienceimage.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'product:ambienceimage_create' %}" class="btn btn-success">Create Ambience Image</a>

{% endblock %}

{% endblock %}