{% extends "adminlte/base.html" %}
{% load static %}
{% block body %}

{% block content %}

<h1>Brand List</h1>
  <table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <thead>
  <tbody>
  {% for brand in brands %}
  <tr>
    <td>{{ brand.name }}</td>
    <td>
      <a href="{% url 'product:brand_edit' brand.id %}">Edit</a>
      <a href="{% url 'product:brand_delete' brand.id %}" onclick="return confirm('Are you sure?');">Delete</a>
    </td>
   
  </tr>
  {% endfor %}
  <tbody>
</table>
<a href="{% url 'product:brand_create' %}">Create</a>

{% endblock %}
{% endblock %}