{% extends "adminlte/base.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'plugins/simple-datatables/style.css' %}">
{% endblock %}
{% block body %}

{% comment %} {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  <script>
    $(document).ready(function() {
      $('.alert').delay(300).fadeOut();
    });
  </script>
{% endif %} {% endcomment %}

{% comment %} {% if messages %}

  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %} {% endcomment %}

{% comment %} {% for message in messages %}
  {% if message.tags == 'success' %}
    <script>
      toastr.success("{{ message }}");
    </script>
  {% elif message.tags == 'error' %}
    <script>
      toastr.error("{{ message }}");
    </script>
  {% endif %}
{% endfor %} {% endcomment %}

  <script>
    $(document).ready(function(){
      {% if messages %}
        {% for message in messages %}
          if ({{ message.tags }} == 'success') {
            $('.toastsDefaultSuccess').click();
          } else if ({{ message.tags }} == 'warning') {
            $('.toastsDefaultWarning').click();
          } else if ({{ message.tags }} == 'error') {
            $('.toastsDefaultDanger').click();
          } else if ({{ message.tags }} == 'info') {
            $('.toastsDefaultInfo').click();
          } else if ({{ message.tags }} == 'maroon') {
            $('.toastsDefaultMaroon').click();
          }
          console.log('message:', {{ message.tags }})
        {% endfor %}
      {% endif %}
    });
  </script>
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
                <div class="card-tools">
                  <a href="{% url 'product:product_create' %}" class="btn btn-success btn-sm">Create New Product</a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tableProduct" class="table table-bordered table-hover"></table>
              </div>
            <!-- /.card -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  

  <!-- /.control-sidebar -->

<!-- ./wrapper -->
<!-- Datatable script -->






{% endblock %}

{% block extrajs %}
<script src="{% static 'plugins/simple-datatables/simple-datatables.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", ()=>{
    const myData = JSON.parse('{{ results|safe }}');

    const to_date_str = (to_dt) => {
        const date_format = new Date(to_dt);
        const date_option = {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        }
        const new_date = date_format.toLocaleDateString('id', date_option) +
        " " + date_format.toLocaleTimeString('id');
        return new_date
    };

    const thead = [
        "SKU", "Name", "Featured Image", "Category", "Brand", "BOM File",
        "Cost Price", "Created At", "Updated At", "Status", "Actions"
    ]
    const tbody = []
    myData.map((items) => {
        console.log(items.fields)
        let item = items.fields
        let row = []
        row.push(
            item.sku,
            item.name,
            item.featured_image,
            item.category,
            item.brand,
            item.bom_file,
            item.cost_price,
            to_date_str(item.created_at),
            to_date_str(item.updated_at),
            item.status,
            ''
        )
        tbody.push(row)
    })

    const myTable = new window.simpleDatatables.DataTable("#tableProduct", {
        perPage: 10,
        perPageSelect: [10, 25, 50, 100],
        data: {
            headings: thead,
            data: tbody
        }
    });
  }, false)
</script>
{% endblock %}