{% extends "adminlte/base.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'plugins/simple-datatables/style.css' %}">
{% endblock %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
                <div class="card-tools">
                  <a href="{% url 'product:product_create' %}" class="btn btn-success btn-sm">Create New Product</a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="tableProduct" class="table table-bordered table-hover"></table>
              </div>
            <!-- /.card -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  

  <!-- /.control-sidebar -->

<!-- ./wrapper -->
<!-- Datatable script -->






{% endblock %}

{% block extrajs %}
<script src="{% static 'plugins/simple-datatables/simple-datatables.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", ()=>{
      const myData = JSON.parse('{{ results|safe }}');

      const to_date_str = (to_dt) => {
          const date_format = new Date(to_dt);
          const date_option = {
              weekday: 'long',
              year: 'numeric',
              month: 'long',
              day: 'numeric'
          }
          const new_date = date_format.toLocaleDateString('id', date_option) +
          " " + date_format.toLocaleTimeString('id');
          return new_date
      };

      const imgTag = (img)=>{
          const tag = img ? "<img src='/media/"+img+"' width='100'>" : ''
          return tag
      };

      const fileTag = (img)=>{
          const tag = img ? "<a href='/media/"+img+"' target='_blank'>BOM file</a>" : ''
          return tag
      };

      let edit = "{% url 'product:product_edit' 0 %}";
      let hapus = "{% url 'product:product_delete' 0 %}";

      const thead = [
          "SKU", "Name", "Featured Image", "Category", "Brand", "BOM File",
          "Cost Price", "Created At", "Updated At", "Status", "Actions"
      ]
      const tbody = []
      myData.map((items) => {
          let item = items.fields;
          let row = []
          row.push(
              '<strong>'+item.sku+'</strong>',
              item.name,
              imgTag(item.featured_image),
              item.category,
              item.brand,
              fileTag(item.bom_file),
              item.cost_price,
              to_date_str(item.created_at),
              to_date_str(item.updated_at),
              item.status,
              '<a href="'+edit.replace(0, items.pk)+'" class="btn btn-info btn-sm">Edit</a><a href="'+hapus.replace(0, items.pk)+'" class="btn btn-danger btn-sm" onclick="return confirm(\'Are you sure?\')">Delete</a>',
          )
          tbody.push(row);
      });

      const myTable = new window.simpleDatatables.DataTable("#tableProduct", {
          perPage: 10,
          perPageSelect: [10, 25, 50, 100],
          data: {
              headings: thead,
              data: tbody
          }
      });
  }, false)
</script>
{% endblock %}