{% extends "adminlte/base.html" %}
{% load static %}
{% block body %}

{% block content %}

<h1>technical Images</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for technicalimage in technicalimages %}
    <tr>
      <td>{{ technicalimage.product.name }}</td>
      <td><img src="{{ technicalimage.image.url }}" width="100"></td>
      <td>
        <a href="{% url 'product:technicalimage_edit' technicalimage.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'product:technicalimage_delete' technicalimage.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'product:technicalimage_create' %}" class="btn btn-success">Create technical Image</a>

{% endblock %}

{% endblock %}